:root {
    --primary: #0f172a;
    --secondary: #1e293b;
    --accent: #dc2626;
}

#header {
    background: #0f172a !important;
}

.module h2, .module caption {
    background: #1e293b !important;
}

.button, input[type=submit], input[type=button] {
    background-color: #dc2626 !important;
}
